/*!
 * jQuery Stupid Slider
 * ====================
 * Basic junk
*/
html, body { position: relative; height: 100%; }
#slider {
    position: relative;
    margin: 0 0 20px 0;
    width: 100%;
    height: 80%;
    overflow: hidden;
    background: #263339;
}
#slider .slide {
    position: absolute;
    top: 0; left: 100%;
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 50px;
    text-align: center;
    background-color: #34464f;
    -webkit-transition: left 500ms ease;
       -moz-transition: left 500ms ease;
        -ms-transition: left 500ms ease;
         -o-transition: left 500ms ease;
            transition: left 500ms ease;
}
#slider .slide.r { background-color: #4f3434; }
#slider .slide.g { background-color: #344f38; }
#slider .slide.b { background-color: #3a344f; }

    /* Controls */
    .stupid-controls .active { color: red; }

    /* Hold Transitions - REQUIRED for looping */
    #slider.no-transition .slide {
        -webkit-transition: none;
           -moz-transition: none;
            -ms-transition: none;
             -o-transition: none;
                transition: none;
    }

    /* Animations */
    #slider .slide.old { left: -100%; }
    #slider .slide.visible { left: 0; z-index: 10; }
    #slider .slide.next { left: 100%; }